body
{
   background-color:burlywood;
    width: 900px;
    height:500px 
}
.img1
{
    height: 200px;
    border:5px dashed orange;
    width: inherit;
    margin:auto
}
.img2
{
    float: right;
    border:5px dashed orange;
    width: 85px;
    height: 60px;
    clear: both;
    margin: 20px;
    
}
.img3
{
  
    float: left;
    border:5px dashed orange;
    width: 85px;
    height: 60px;
    clear: both;
    margin: 60px;
    
      
}
h3{font-style: italic ;
   color:blue
  }
span{background-color: yellow}
p{color:black;
  font-style:italic
 }
.botton
{
    background-color:cadetblue;
    border:1px solid cadetblue;
    color:white;
    font-size: 20px;
    height:40px;
    width:80px 
    
    
    
    
}